:root{
    --colorwrapper:#2f3640;
    --colorletra:
    
}
* a{
    text-decoration: none!important;
}
body,html{
    height:100%;
    width: 100%;
}
.principal_container_page{
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

/* navbar_brad_position */
.navigation_navbar>nav{
    padding-top: 0;
    padding-bottom: 0;
    background: #353b46!important;
}
.navbar_brad_position{
    width:250px;
}

.contenedor_allpage{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* wrapper list */
.secction_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-evenly; display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
.wrapper_main{
    position: relative;
    background: var(--colorwrapper);
    height:100%;
    width:210px;
    justify-content: space-evenly;
}
.wrapper_main>div{
   width: 100%;
}
.title_name{ 
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
}

.imagen_usuario{
    height: 30px;
    width: 30px
}
.wrapper_contain{
    height: 100%;
    justify-content: space-evenly; 
}
.wrapper_contain{
    position: relative;width: 100%;padding: 0 ; margin:0;
}
.wrapper_contain>.wrapper_list{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    }
.wrapper_contain>li>a{
    position: relative;
    /* cambiar el tamaño de <a> */
    width: 100%;  
    height: 40px;
    padding: 10px 15px;
    margin: 10px;
    margin: 0px;
    text-decoration: none;
    color:rgba(190, 190, 190, 0.808);
    font-size: 14px;
    display: block;
}
.wrapper_contain>li>a>i:nth-child(3){
    float: right;
    position: relative;
    top: 20%;
}
.wrapper_contain>li>a>i:nth-child(1){
    position: relative;
    padding:0px 6px
}
.open{
    background: #202830f6!important;
    border-left: 2px solid rgba(0, 204, 255, 0.856);
}
.wrapper_contain>li>a:hover{
    color: rgb(241, 241, 241);
    text-shadow: 
    0 0 5px rgb(29, 165, 255),
    0 0 15px rgb(29, 165, 255)
}

/* sublist_wrapper_main */

.sublist_wrapper_main{
    position: relative;
    padding: 0%;
    margin: 0;
    width: 100%;
    display: none;
    /* height: 40px; */
}
.sublist_wrapper_child{
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.sublist_wrapper_child>a{
    position: relative;
    /* cambiar el tamaño de <a> */
    width: 100%;  
    height: 40px;
    padding: 10px 15px;
    margin: 10px;
    margin: 0px;
    text-decoration: none;
    color:rgba(190, 190, 190, 0.808);
    font-size: 14px;
    display: block;
}
@media (max-width: 576px) { 
    .navbar_brad_position{
        width:100%
    }
 }
.content_admin_page{
    height: 100%;
    width: 100%;
}
.contenedor_admin_page{
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}
.contenedor_session{
    /* height: 200px; */
    width: 100%;
}
.contenedor_admin_page::-webkit-scrollbar {
    width: 7px; 
}
.contenedor_admin_page::-webkit-scrollbar-thumb {
    background:rgb(77, 77, 77);
    border-radius: 4px;
}
.contenedor_admin_page::-webkit-scrollbar-track {
    background: #b3b3b398;
}

.componente_dashboard{
   border:1px solid rgba(102, 102, 102, 0.233);
   border-radius:5px;
   padding:10px;
}
.content_message_recivied{
    height: 50px;
    width:250px;
    background: rgba(128, 128, 128, 0.356);
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius:3px;
}
.message_recivied{width: 200px;}
.message_recivied>p{font-size: 13px;}