* a{text-decoration: none!important}
* li{list-style: none;margin: 0;padding: 0}
* ul{margin: 0;padding: 0}
* h1,h2,h3,h4,p,i{font-display: fallback;}
body{
    font-family: Roboto,sans-serif;
    box-sizing: border-box;
    font-display: fallback;
    /* background: rgb(231, 231, 231)!important; */
}
.contenedor{
    padding: 10px;
}
.link-enlace-post{
    color:rgb(36, 36, 36);
}
#navbar_contenido{
    background: rgb(24, 23, 29)!important;
    padding: 3px;
}
.stal{color:#f8b500;font-weight: bold;font-family: Arial, Helvetica, sans-serif}
.ker{color:rgb(252, 252, 252);font-weight: bold;font-family: Arial, Helvetica, sans-serif}
.nav-item>a{
    transition: 0.3s;
}
.nav-item>a:hover{
    color: #f8b500!important;
}
/* principal post  */
.contenedor {
    height: 400px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:50% 50%;
}
.item1>a>div,.item1>a>div>img{
    height: 100%;
}
.item1:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.contenedor_grid_post{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    margin-bottom: 0px;
    height: 400px;
}
.grid_post:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.grid_post:nth-child(1)>a>div{
    display: flex!important;
    flex-direction: column!important;
    height: 100%;
}
.grid_post:nth-child(1)>a>div>div{
    width: 100%;
    padding: 8px 30px 8px 30px;}
.grid_post:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid_post:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid_post:nth-child(7){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid_post{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .grid_post:nth-child(1)>a>div>div:nth-child(2){
    padding:0px 30px 0px 30px;
    }
    .card-body{
        padding: 13px!important;
    }
.ajust_card{
    border: 0px!important;
    box-shadow: 0px 0px 0px 0px!important;
}
.anuncio{width: 100%;position: sticky; top: 60px;}
.anuncio>img{width: 100%;}
.position_footer>p{
    line-height: 1em;
}
.grid_post:nth-child(1)>a{height: 100%;}
@media (max-width:1500px){
    .item1:nth-child(1)>a>div>div>.position_footer>h3{
        font-size: 25px;
    }
}
@media (max-width:990px){
    .item1:nth-child(1)>a>div>div>.position_footer>h3{
        font-size: 25px;
    }
    .contenedor{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 50% 50% ;
    }
    .item1:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    }
.item1:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    }
    .item1:nth-child(3){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
    }
}
    @media (max-width:768px){
        .item1:nth-child(1)>a>div>div>.position_footer>h3{
            font-size: 19px;
        }
        .contenedor{
            height:600px;
            padding-bottom: 20px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 35% 35% 35%;
        }
        .item1:nth-child(1){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 100%;
        }
        .item1:nth-child(2){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 100%;
        }
        .item1:nth-child(3){
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 100%;
        }
}
@media (max-width:575px){
    hr{
        width: 100%;
    }
    .grid_post:nth-child(1)>a>div>div:nth-child(2){
        padding: 8px 0px!important;
    }
    .contendor_info_post{
        padding: 0!important;
    }
    .contenedor_grid_post{
        display: block;
    }
    .grid_post:nth-child(1)>a>div>div{
        padding: 0;
    }
    .ajust_card{
        display: flex!important;
        border-radius: 0px;
        flex-direction: row!important;
        border: 0px!important;
        box-shadow: 0px 0px 0px 0px!important;
    }
    .height-line{
        font-size: 15px;
        line-height: 1.4;
    }
    .card-body>p,.card-body>h5{
        margin: 0;
    }
    .card-body{
        padding: 0 0 0 6px!important;
    }
    .px-sm-0{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .ajust_card>img{
        width:33%;
        height:100%!important
    }
    .contenedor{
        display: block;
        height: auto;
    }
    .container{
        height: auto;
    }
    .item1{
        height: 300px;
        padding-bottom: 10px;
    }
    #navbar_contenido{
        padding-left: 15px!important;
        padding-right: 15px!important;
        position: relative;
        width: 100%;
        z-index: 99999;
        
    }
    .navbar-brand{
        position: absolute;
        top:0;
        left: 40%;
    }
}

/* termina responsive */
.title{
    color: white;
    font-family:"Encode Sans Expanded","sans serif";
    font-weight: bold!important;
    margin:0!important;
    padding-right: 4px;
    /* -webkit-text-stroke: 0.5px rgb(145, 83, 3); */
}
.card-img-overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.534))
}
.position_footer{
    position: relative;
}
.caracteristica{color:white!important;}
.icon-cont{color: #f8b500!important;}
.p-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288)
}
.p-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 5px;
    background: #F9B500;
    z-index: 20;
}
.elemento_post{
    width:100%;
    height:auto;
    /* border: 1px solid black */
}
.imagen_post{
    width: 30%;
    height:auto;
    margin-right: 10px;
}
.imagen_post>img{
    width: 100%;
    height: 100%;object-fit: cover!important;
    
}
.contendor_info_post{
    width: 70%;
    height: 100%;
    position: relative;
    padding: 10px 0px;
}
.keep_down{
    position: relative;
    bottom: 0px;
}
.footer{
    width:100%;
    height:200px;
    background: rgb(22, 22, 22);
}
.elemento_post> * p{
    text-align: justify;
    word-spacing: -2px;
    letter-spacing: -0.3px;
}
.justificar_parrafo{
    text-align: justify!important;
    word-spacing: -2px;
}
.separado{
    width: 100%;
}
.ajust_card{
    height: 100%;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.452);
}
.ajust_card:hover{
    box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.452);
}

.ajust_card>img{
    height: 45%;
}

/* footer */
/*=-footer-=*/
footer {
    color: #fff;
    background-attachment: fixed;
    background-color:#222;
    width: 100%;
}
footer p {
    color: #ccc;				
}
footer a {
    color: #ccc;				
}
.social-pet li {
    display: inline-block;
    margin-right: 10px;
}
.social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
}
.social-pet li:nth-child(2) a {
    background-color: #57aced;
}
.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}
.social-pet li a:hover {
    background-color: #0141a2;
}
.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}
.recent-post li label {
    float: left;
    border: 2px solid black;
    padding: 1px 7px;
    text-align: center;
}
.recent-post li label span {
    color: #fff;
}
footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}
.f-address li {
    display: inline-block;
}
.f-address li i {
    color: #2995de;
    font-size: 18px;
}
.f-address li a {
    color: #ccc;
}
/*=-Copyright-=*/
.copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
}
/* fin de footer */
