	<footer class="pt-3 pb-0" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
                        <h5 class="h3 m-0"><span class="stal">Stal</span><span class="ker">ker</span></h5>
						<p class="mb-2">Puedes contactarnos de las siguientes maneras</p>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-map-marker"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p>Lima - Perú.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="far fa-envelope"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Have any questions?</h6>
										<p><a href="#" rel="nofollow">72403387@certus.edu.pe</a></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-phone-volume"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Content creator:</h6>
										<p><a href="#" rel="nofollow">Flavio Mataqque Pinares</a></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>	
        <section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 Stalker. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</section>