<div id="mymodal" class="modal fade">
<div class="global_panel_log">
<div class="panel_log_users">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal-content1">
                <div class="container">
                        <form action="" class="formulario_login">
                        <div>
                            <span>Registro</span>
                        </div>
                        <div class="text_contenedor_login">
                            <span>Usuario</span>
                            <input type="text" placeholder="Escribe tu usuario." name="usuario" autocomplete="off">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="text_contenedor_login">
                            <span>Correo</span>
                            <input type="email" placeholder="Escribe tu usuario." name="email" autocomplete="off">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="contenedor_password">
                            <div>
                                <div class="text_contenedor_login">
                            <span>Contraseña</span>
                            <input type="password" class="password_box" placeholder="Ingresa su clave." name="password">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </div>
                        <div class="text_contenedor_login">
                            <span>Contraseña</span>
                            <input type="password" class="password_box" placeholder="Ingresa su clave." name="password">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </div>
                        </div>
                        </div>
                        <div class="justify-content-center align-items-center py-4">
                            <button class="button_session" type="submit">Registrarse</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        
          </div>
          
<div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content  modal-content2">
            <div class="container">
                    <form class="formulario_login" method="" action="">
                    <div>
                        <span>Login</span>
                    </div>
                    <div class="text_contenedor_login">
                        <span>Usuario</span>
                        <input type="text" placeholder="Escribe tu usuaio." name="usuario" id="usuario_login">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="text_contenedor_login">
                        <span>Contraseña</span>
                        <input type="password" id="password_login" class="password_box" placeholder="Ingresa su clave." required name="password">
                        <i class="fas fa-lock" aria-hidden="true"></i>
                        <div class="forget_pass"><span>
                            <a href="#">Olvisdaste tu clave?</a></span></div>
                        </span>
                    </div>
                    <div class="justify-content-center align-items-center py-2">
                        <button class="button_session" type="submit">Iniciar Sesión</button>
                    </div>
                    <div>
                        <div class="register_other"><span>O regístrese utilizando:</span></div>
                        <div class="redes_sociales">
                            <div>
                                <a href="#"><i class="fab fa-facebook-f" ></i></a>
                            </div>
                            <div>
                                    <a href="#"><i class="fab fa-google"></i></a>
                            </div>
                            <div>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                           
                        </div>
                        <div class="register_other d-flex justify-content-center align-items-center" id="error_al_ingresar"><p class="h5 text-success text-center">{{error}}</p></div>
                    </div>
                    </form>
            </div>
        </div>
    
      </div>
        </div>
        </div>
</div>
