
<nav id="navbar_contenido" class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container ajust">
                <a class="navbar-brand" href="/"><span class="stal">Stal</span><span class="ker">ker</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="redes">
                        <a class="nav-link facebook" rel="nofollow" href="https://web.facebook.com/mataqque.flavio" target="__blank">
                            <i class="fab fa-facebook-f"></i>
                         </a>
                    </li>
                    <li class="redes">
                        <a class="nav-link github"  rel="nofollow" href="https://github.com/mataqque" target="__blank">
                             <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="redes">
                        <a class="nav-link pinterest"  rel="nofollow" href="https://www.pinterest.com/flaviomataqque/" target="__blank">
                             <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="redes">
                        <div class="nav-link login"  rel="nofollow" href="#" target="__blank">
                             <i class="fas fa-user"></i>
                        </div>
                    </li>

    </ul>
  </div>
            </div>
</nav>