<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" value="{{index}}">
    <title>Stalkerman</title>
    <meta name="description" content=":v oie xy estas es la descripcion alternativa" />
    <!-- Open Graph data -->
    <meta property="og:title" content="Stalkerman" />
    <meta name="author" content="Flavio Mataqque">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="img/uploads/Ajedrez.jpg"/>
    <meta property="og:description" content="este es una descripcion de mi pagina web " />
    {{#if index}}
    <meta name="robots" content="noindex"/>
    {{/if}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700%7CSignika:300,400,600" media="all">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/duck.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6611670d58.js" crossorigin="anonymous"></script>
</head>
<body>
{{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/homepage.js"></script>
</body>
</html>