<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {{#if index}}
      <meta name="robots" content="noindex">
    {{/if}}
    <meta name="description" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6611670d58.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700%7CSignika:300,400,600" media="all">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/duck.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/publicaciones.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>tablero</title>
</head>
<body>
{{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script>
        $(document).on("scroll",function(){
      var desplazamientoActual = $(document).scrollTop();
      if(desplazamientoActual>100){
        if(document.querySelectorAll(".confirm")[0]){
         document.querySelectorAll(".confirm")[0].click();
        }
      }
      if(desplazamientoActual>37){
        document.getElementById("navbar_contenido").style = `
        padding-left: 15px!important;
        padding-right: 15px!important;
        position: fixed;
        width: 100%;
        z-index: 99999;
        transition: 1s;
        transition: 1s;
        animation: example 2s;
        `
      }else if(desplazamientoActual<37){
        document.getElementById("navbar_contenido").style = ""
      }
      console.log(desplazamientoActual)
    });

    </script>
    <script src="/js/cookie.js"></script>
    <script>
      new cookieNoticeJS({

       // Localizations of the notice message
       'messageLocales': {
         'it': 'que paso aka'
       },

       // Localizations of the dismiss button text
       'buttonLocales': {
         'it': 'Chiudi'
       },
       // Shows the "learn more button (default=false)
       'learnMoreLinkEnabled': true,

       // The href of the learn more link must be applied if (learnMoreLinkEnabled=true)
       'learnMoreLinkHref': '/politica-de-cookie',

       // Text for optional learn more button
       'learnMoreLinkText':{
           'en':'Leer más'
       },

       // The message will be shown again in X days
       'expiresIn': 60,

      // Specify a custom font family
      'fontFamily': 'inherit',

       // Dismiss button background color
       'buttonBgColor': '#d35400',  

       // Dismiss button text color
       'buttonTextColor': '#fff',

       // Notice background color
       'noticeBgColor': '#000',

       // Notice text color
       'noticeTextColor': '#fff',

       // the learnMoreLink color (default='#009fdd')
       'linkColor': '#FFFFFF',

       // Print debug output to the console (default=false)
       'debug': false
    });
    if(document.querySelectorAll(".confirm")[0]){
        
    }
    </script>
</body>
</html>