
<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>404 - PAGINA NO ENCONTRADA</h2>
			<p>Esta url no existe o ha sido deshabilitada temporalmente, estamos trabajando para solucionarlo.</p>
			<a href="/">Pagina principal</a>
		</div>
	</div>