{{>navhomepage}}
<div class="container ajust">
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-md-12">
               {{#each data}}
                <div>
                    {{{articulo}}}
                </div>
               {{/each}}
            </div>
            <div class="col-md-6">
                <div>
                    <img src="/img/home/idea-2020.svg" class="img-fluid"alt="">
                <div>
                    <h3 class="">17 ecuaciones que cambiaron la historia</h1>
                    <p>Las matemáticas están presentes en nuestro día a día de innumerables formas. El matemático y científico Ian Stewart h...</p>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div><img src="/img/home/mejores-noticias.svg" class="img-fluid" alt=""></div>
            <div>
                    <h3 class="h">Top noticias cientificas del 2019</h1>
                    <p>Las matemáticas están presentes en nuestro día a día de innumerables formas. El matemático y científico Ian Stewart h...</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-4">
        <div>
            <div class="pt-2">
                <img src="/img/home/relacionados.svg" class="img-fluid" alt="">
                <h3>¿Por que dejar de Fumar?</h3>
            </div>
            <div class="pt-2">
                <img src="/img/home/relacionados1.svg" class="img-fluid" alt="">
                <h3>¿Por que dejar de Fumar?</h3>
                </div>
        </div>
    </div>
</div>
</div>