<div class="principal_container_page">  
    {{>dashboardnav}}
    <div class="contenedor_allpage">
    <section class="wrapper_main">
    <div>
        <div class="title_name"> Navegacion</div>
        <div class="secction_wrapper">
            <ul class="wrapper_contain">
                <li class="wrapper_list active-link"><a href="/dashboard" class="links"><i class="fas fa-tachometer-alt"></i>Escritorio<span></span><i class="fas fa-angle-right"></i></a>
                    <ul class="sublist_wrapper_main">
                        <li class="sublist_wrapper_child"><a href="#"><span>Hola amigos</span></a></li>
                    </ul>
                </li>
                <li class="wrapper_list"><a href="#"  class="links"><i class="fas fa-music"></i>Medios<span></span> <i class="fas fa-angle-right"></i></a>
                    <ul class="sublist_wrapper_main">
                            <li class="sublist_wrapper_child"><a href="#"><span>Hola amigos</span></a></li>
                        </ul>
                </li>
                <li class="wrapper_list"><a href="#" id="enlaces"><i class="fas fa-link"></i>Enlaces<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="/dashboard/pagina" id="pagina"><i class="fas fa-file"></i>Páginas<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#" id="comentarios"><i class="fas fa-comment-alt"></i>Comentarios<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
           
            </ul>
        </div>
        <div>
            <div class="title_name"> Tools</div>
            <ul class="wrapper_contain">
                <li class="wrapper_list"><a href="#"><i class="fas fa-paint-brush"></i>Apariencia<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-hammer"></i>Ajustes<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-plug"></i>Plugins<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-user-alt"></i>Usuarios<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>    
            </ul>
        </div>
    </div>
    </section>
    <section class="content_admin_page">
        <div class="contenedor_admin_page">
            <div class="contenedor_session pt-2">
                <h4>Escritorio</h4>
                <div class="componente_dashboard d-flex flex-column">
                    <div>
                        <h5>Bienvenidos a Stalker</h5>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="flex-grow-1">
                            <h6>Comienza</h6>
                            <button class="btn btn-info btn-sm">Personaliza tu sitio</button>
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column ">
                                <a href="#"><i class="fas fa-pen-alt"></i> Escribe una nueva página</a>
                                <a href="#"><i class="fas fa-plus"></i> Añade una pagina</a>
                                <a href="#"><i class="fas fa-eye"></i> Ver tu sitio</a>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column ">
                                <a href="#"><i class="fas fa-comment-slash"></i> Desactiva los comentarios.</a>
                                <a href="#"><i class="fab fa-elementor"></i> Gestiona los menus</a>
                                <a href="#"><i class="fas fa-graduation-cap"></i> Aprende como comenzar</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="contenedor_session pt-2">
                    <div class="componente_dashboard d-flex flex-column">
                        <h6><strong>Actividad</strong></h6>
                        <p>comentarios</p>
                            <div class="d-flex bd-highlight">
                                    <div class="content_message_recivied mr-2">
                                            <div class="d-flex flex-row">
                                                <div class="imagen_usuario">
                                                    <img src="/img/dashboard/user.jpg" alt="" class="img-fluid">
                                                </div>
                                                <div>
                                                    <div class="message_recivied">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <div class="flex-grow-1">
                                    <div class="d-flex flex-column ">
                                        <a href="#"><i class="fas fa-comment-slash"></i> Desactiva los comentarios.</a>
                                        <a href="#"><i class="fab fa-elementor"></i> Gestiona los menus</a>
                                        <a href="#"><i class="fas fa-graduation-cap"></i> Aprende como comenzar</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
            </div>
            
            
        </div>
    </section>
    </div>
</div>