<script src="/js/jodit.js"></script>
<link rel="stylesheet" href="/css/jodit.css">
<div class="principal_container_page">  
    {{>dashboardnav}}
    <div class="contenedor_allpage">
    <section class="wrapper_main">
    <div>
        <div class="title_name"> Navigation</div>
        <div class="secction_wrapper">
            <ul class="wrapper_contain">
                <li class="wrapper_list active-link"><a href="#" class="links"><i class="fas fa-tachometer-alt"></i>Escritorio<span></span><i class="fas fa-angle-right"></i></a>
                    <ul class="sublist_wrapper_main">
                        <li class="sublist_wrapper_child"><a href="#"><span>Hola amigos</span></a></li>
                    </ul>
                </li>
                <li class="wrapper_list"><a href="#"  class="links"><i class="fas fa-music"></i>Medios<span></span> <i class="fas fa-angle-right"></i></a>
                    <ul class="sublist_wrapper_main">
                            <li class="sublist_wrapper_child"><a href="#"><span>Hola amigos</span></a></li>
                        </ul>
                </li>
                <li class="wrapper_list"><a href="#" id="enlaces"><i class="fas fa-link"></i>Enlaces<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="/dashboard/pagina" id="pagina"><i class="fas fa-file"></i>Páginas<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#" id="comentarios"><i class="fas fa-comment-alt"></i>Comentarios<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
           
            </ul>
        </div>
        <div>
            <div class="title_name"> Tools</div>
            <ul class="wrapper_contain">
                <li class="wrapper_list"><a href="#"><i class="fas fa-paint-brush"></i>Apariencia<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-hammer"></i>Ajustes<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-plug"></i>Plugins<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-user-alt"></i>Usuarios<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>    
            </ul>
        </div>
    </div>
    </section>
    <section class="content_admin_page">
        <div class="contenedor_admin_page">
            <h5>Agregar Página</h5>
                <div class="componente_dashboard d-flex flex-column">
                    <input type="text" id="titulo_pagina" placeholder="Título">
                    <textarea id="area_editor" style="display: none;"></textarea>
                </div>
                <button onclick="addpaginaweb()" class="btn btn-success">Guardar página</button>
            </div>
    </section>
    </div>
</div>
<script>
    
    var editor = new Jodit('#area_editor', {
        textIcons: false,
        iframe: false,
        iframeStyle: '*,.jodit_wysiwyg {color:red;}',
        height: 300,
        defaultMode: Jodit.MODE_WYSIWYG,
        observer: {
            timeout: 100
        },
        uploader: {
            url: 'https://xdsoft.net/jodit/connector/index.php?action=fileUpload'
        },
        filebrowser: {
            // buttons: ['list', 'tiles', 'sort'],
            ajax: {
                url: 'https://xdsoft.net/jodit/connector/index.php'
            }
        },
        commandToHotkeys: {
            'openreplacedialog': 'ctrl+p'
        }
        // buttons: ['symbol'],
        // disablePlugins: 'hotkeys,mobile'
    });

</script>