<script src="/js/jodit.js"></script>
<link rel="stylesheet" href="/css/jodit.css">
<div class="principal_container_page">  
    {{>dashboardnav}}
    <div class="contenedor_allpage">
    <section class="wrapper_main">
    <div>
        <div class="title_name"> Navigation</div>
        <div class="secction_wrapper">
            <ul class="wrapper_contain">
                <li class="wrapper_list active-link"><a href="#" class="links"><i class="fas fa-tachometer-alt"></i>Escritorio<span></span><i class="fas fa-angle-right"></i></a>
                    <ul class="sublist_wrapper_main">
                        <li class="sublist_wrapper_child"><a href="#"><span>Hola amigos</span></a></li>
                    </ul>
                </li>
                <li class="wrapper_list"><a href="#"  class="links"><i class="fas fa-music"></i>Medios<span></span> <i class="fas fa-angle-right"></i></a>
                    <ul class="sublist_wrapper_main">
                            <li class="sublist_wrapper_child"><a href="#"><span>Hola amigos</span></a></li>
                        </ul>
                </li>
                <li class="wrapper_list"><a href="#" id="enlaces"><i class="fas fa-link"></i>Enlaces<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="/dashboard/pagina" id="pagina"><i class="fas fa-file"></i>Páginas<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#" id="comentarios"><i class="fas fa-comment-alt"></i>Comentarios<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
           
            </ul>
        </div>
        <div>
            <div class="title_name"> Tools</div>
            <ul class="wrapper_contain">
                <li class="wrapper_list"><a href="#"><i class="fas fa-paint-brush"></i>Apariencia<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-hammer"></i>Ajustes<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-plug"></i>Plugins<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>
                <li class="wrapper_list"><a href="#"><i class="fas fa-user-alt"></i>Usuarios<span></span> <i class="fas fa-angle-right"></i></a><ul class="sublist_wrapper_main"><li class="sublist_wrapper_child"></li></ul></li>    
            </ul>
        </div>
    </div>
    </section>
    <section class="content_admin_page">
        <div class="contenedor_admin_page">
            <h5>Agregar Página</h5>
                <div class="componente_dashboard d-flex flex-column">
                    <input type="text" id="titulo_pagina" placeholder="Título">
                    <textarea id="area_editor" style="display: none;"></textarea>
                </div>
                <button onclick="addpaginaweb()" class="btn btn-success">Guardar página</button>
            </div>
    </section>
	<div class="contenedor_galeria_principal" style="display:none">

<div style="z-index: 100003;" class="jodit jodit_dialog_box active" data-editor_id="area_editor"><div class="jodit_dialog_overlay"></div><div class="jodit_dialog" style="width: 859px; height: 400px; left: 35.5px; top: 112.5px;"><div class="jodit_dialog_header non-selected"><div class="jodit_dialog_header-title jodit_filebrowser_title_box"><div><ul class="jodit_toolbar"><li class="jodit_toolbar_btn jodit_toolbar_btn-upload jodit_toolbar-input"><span class="jodit_upload_button"><svg viewBox="0 0 1792 1792"><path d="M1600 736v192q0 40-28 68t-68 28h-416v416q0 40-28 68t-68 28h-192q-40 0-68-28t-28-68v-416h-416q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h416v-416q0-40 28-68t68-28h192q40 0 68 28t28 68v416h416q40 0 68 28t28 68z"></path></svg>
                    <input type="file" accept="image/*" tabindex="-1" dir="auto" multiple="" id="subir_imagen_post">
                    </span></li><li class="jodit_toolbar_btn jodit_toolbar_btn-remove jodit_disabled" disabled="disabled"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 1792 1792" class="jodit_icon jodit_icon_remove"><path d="M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z"></path></svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-update"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 1792 1792" class="jodit_icon jodit_icon_update"><path d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"></path></svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-select jodit_disabled" disabled="disabled"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 1792 1792" class="jodit_icon jodit_icon_select"><path d="M1472 930v318q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-10 10-23 10-3 0-9-2-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-254q0-13 9-22l64-64q10-10 23-10 6 0 12 3 20 8 20 29zm231-489l-814 814q-24 24-57 24t-57-24l-430-430q-24-24-24-57t24-57l110-110q24-24 57-24t57 24l263 263 647-647q24-24 57-24t57 24l110 110q24 24 24 57t-24 57z"></path></svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-edit jodit_disabled" disabled="disabled"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 1792 1792" class="jodit_icon jodit_icon_edit"><path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"></path></svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-separator"></li><li class="jodit_toolbar_btn jodit_toolbar_btn-tiles jodit_active"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 1792 1792" class="jodit_icon jodit_icon_tiles"><path d="M512 1248v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm640 512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm-640-1024v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm640 512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm640 512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm-640-1024v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm640 512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68z"></path></svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-list"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 1792 1792" class="jodit_icon jodit_icon_list"><path d="M512 1248v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm1280 512v192q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h960q40 0 68 28t28 68zm-1280-1024v192q0 40-28 68t-68 28h-320q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h320q40 0 68 28t28 68zm1280 512v192q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h960q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h960q40 0 68 28t28 68z"></path></svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-separator"></li><li class="jodit_toolbar_btn jodit_toolbar_btn-filter jodit_toolbar-input">
                    <input class="jodit_input" placeholder="filtrar"></li><li class="jodit_toolbar_btn jodit_toolbar_btn-separator"></li><li class="jodit_toolbar_btn jodit_toolbar_btn-sort jodit_toolbar-input"><select class="jodit_input jodit_select"><option value="changed-asc">Ordenar por fecha modificación (⬆)</option><option value="changed-desc">Ordenar por fecha modificación (⬇)</option><option value="name-asc">Ordenar por nombre (⬆)</option><option value="name-desc">Ordenar por nombre (⬇)</option><option value="size-asc">Ordenar por tamaño (⬆)</option><option value="size-desc">Ordenar por tamaño (⬇)</option></select></li></ul></div></div><div class="jodit_dialog_header-toolbar"><ul class="jodit_toolbar" style="width: auto;"><li class="jodit_toolbar_btn jodit_toolbar_btn-fullsize"><a role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 24 24" class="jodit_icon">
                <path d="M22,20.6L3.4,2H8V0H0v8h2V3.4L20.6,22H16v2h8v-8h-2V20.6z M16,0v2h4.7l-6.3,6.3l1.4,1.4L22,3.5V8h2V0H16z   M8.3,14.3L2,20.6V16H0v8h8v-2H3.5l6.3-6.3L8.3,14.3z"></path>
            </svg></span></a></li><li class="jodit_toolbar_btn jodit_toolbar_btn-close"><a onclick="close_galeria()" role="button" href="javascript:void(0)" tabindex="-1"><span><svg viewBox="0 0 16 16" class="jodit_icon jodit_icon_close">
                <g transform="translate(0,-1036.3622)">
                    <path d="m 2,1050.3622 12,-12" style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:mitjodit_filebrowser_tree_item
                    er;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"></path>
                    <path d="m 2,1038.3622 12,12" style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"></path>
                </g>
            </svg></span></a></li></ul></div></div><div class="jodit_dialog_content"><div class="jodit_filebrowser non-selected">
                <div class="jodit_filebrowser_tree active"><a draggable="draggable" href="javascript:void(0)" data-path="." data-name="." data-source="default" data-source-path="" class="jodit_filebrowser_tree_item"><span class="jodit_filebrowser_tree_item_title">.</span></a><a draggable="draggable" href="javascript:void(0)" data-path="test" data-name="test" data-source="default" data-source-path="" class="jodit_filebrowser_tree_item"><span class="jodit_filebrowser_tree_item_title">Galeria mongo</span><i class="jodit_icon_folder jodit_icon_folder_rename" title="renombrar"><svg viewBox="0 0 1792 1792"><path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"></path></svg></i><i class="jodit_icon_folder jodit_icon_folder_remove" title="Borrar"><div><svg viewBox="0 0 16 16">
                <g transform="translate(0,-1036.3622)">
                    <path d="m 2,1050.3622 12,-12" style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"></path>
                    <path d="m 2,1038.3622 12,12" style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"></path>
                </g>
            </svg>
            </div></i></a><a href="javascript:void(0)" data-path="/" data-source="default" class="jodit_button addfolder"><div><svg viewBox="0 0 1792 1792"><path d="M1600 736v192q0 40-28 68t-68 28h-416v416q0 40-28 68t-68 28h-192q-40 0-68-28t-28-68v-416h-416q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h416v-416q0-40 28-68t68-28h192q40 0 68 28t28 68v416h416q40 0 68 28t28 68z"></path></svg> Agregar carpeta</div></a></div>
            
            
            <div class="jodit_filebrowser_files jodit_filebrowser_files_view-tiles active">
			
            </div>
            <div class="jodit_filebrowser_status"></div></div></div><div class="jodit_dialog_footer"></div><div class="jodit_dialog_resizer"></div></div></div>


    </div>
</div>
<script>
    
    var editor = new Jodit('#area_editor', {
        textIcons: false,
        iframe: false,
        iframeStyle: '*,.jodit_wysiwyg {color:red;}',
        height: 300,
        defaultMode: Jodit.MODE_WYSIWYG,
        observer: {
            timeout: 100
        },
        commandToHotkeys: {
            'openreplacedialog': 'ctrl+p'
        }
        // buttons: ['symbol'],
        // disablePlugins: 'hotkeys,mobile'
    });
	
	window.onload = function(){
			document.getElementsByClassName("jodit_toolbar_btn-image")[0].setAttribute("onclick","browser()");
            }
            var value = true;
		function browser(){
			if(!document.getElementsByClassName("flavio_mataqque")[0]){
                    document.getElementsByClassName("jodit_tabs")[0].innerHTML += 
					`<div class="jodit_tabs_buttons flavio_mataqque" onclick="OpenBrowser()">
                    <a href="#" class="active" style="width: 100%;">    
                    <svg viewBox="0 0 1792 1792">
                    <path d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"></path>
                    </svg> Galeria</a>
                    </div>`
                
				}
			}	
			function close_galeria(){
				document.getElementsByClassName("contenedor_galeria_principal")[0].style.display = "none";
			}
			var buscar = "componente_dashboard";
			function OpenBrowser(){
				document.getElementsByClassName("contenedor_galeria_principal")[0].style.display = "block";
				$.ajax({
				url: '/motrar_galeria',
				method: 'POST',
				data: 1,
				cache:false,
				contentType: false,
				processData: false,
				success: function(response) {
					console.log(response)
				document.getElementsByClassName("jodit_filebrowser_files_view-tiles")[0].innerHTML ="";
				for(i=0;i<response.length;i++){
						document.getElementsByClassName("jodit_filebrowser_files_view-tiles")[0].innerHTML += `
					<a data-is-file="0" draggable="true" class="jodit_filebrowser_files_item" href="#" title="car4.jpg" data-key="default--car4.jpg-01-14-2020-4-20-am--thumbs-car4.jpg">
                    <img data-is-file="0" data-src="" class="firstimage" src="/${response[i].path}" loading="lazy"><div class="jodit_filebrowser_files_item-info"><span class="jodit_filebrowser_files_item-info-filename">car4.jpg</span><span class="jodit_filebrowser_files_item-info-filesize">45.60kB</span><span class="jodit_filebrowser_files_item-info-filechanged">01/14/2020 4:20 AM</span></div>
                </a>`
						}
					}
					
				});	
			}
			document.getElementsByClassName("jodit_filebrowser_files_view-tiles")[0].addEventListener("click",(e)=>{
					if(e.path[0].className == "jodit_filebrowser_files_item"){
						formatDocumento("insertImage",e.path[0].children[0].src)
						document.getElementsByClassName("contenedor_galeria_principal")[0].style.display = "none";
					}else if(e.path[0].className=="firstimage"){
						formatDocumento("insertImage",e.path[0].src);
						document.getElementsByClassName("contenedor_galeria_principal")[0].style.display = "none";
					}
				})
				function formatDocumento(sCmd, sValue){
				console.log(sCmd)
				document.execCommand(sCmd, false, sValue); $(".jodit_wysiwyg").focus();
				// if (validateMode()) { document.execCommand(sCmd, false, sValue); oDoc.focus(); }
				}
			
			
		
			var fileButton = document.getElementById('subir_imagen_post');
			fileButton.addEventListener('change', function(e) {
            console.log("ingreso")
			var formData = new FormData();
			var file = this.files[0];
			formData.append("image",file) 
			$.ajax({
            url: '/upload',
            method: 'POST',
            data: formData,
            cache:false,
            contentType: false,
            processData: false,
            success: function(response) {
                console.log(response)
            }
        });
      });
			
			



</script>