{{>navhomepage}}
<section>
    <div class="container pt-5">
        <div class="contenedor_post_polulares">
          <div class="item1">
            <div class="card">
                <img src="/img/home/mundo-2020.svg" alt="">
                <div class="card-img-overlay">
                        <div class="position_footer">
                            <h2 class="title h6">Niño acaba de ganar 1 millon de dolares mientras dormia</h2>
                            <span class="caracteristica"><span>Jun 08 2019 </span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                        </div>   
                      </div>
            </div>
          </div>
          <div class="item2">
            <div class="subitem">
                <div class="card"><img src="/img/home/carrucel3.svg" alt="">
                  <div class="card-img-overlay">
                    <div class="position_footer">
                        <h2 class="title h6">Niño acaba de ganar 1 millon de dolares mientras dormia</h2>
                        <span class="caracteristica"><span>Jun 08 2019 </span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                    </div>   
                  </div>
                </div>
            </div>
            <div class="subitem">
                <div class="card"><img src="/img/home/carrucel2.svg" alt="">
                  <div class="card-img-overlay">
                    <div class="position_footer">
                        <h2 class="title h6">Niño acaba de ganar 1 millon de dolares mientras dormia</h2>
                        <span class="caracteristica"><span>Jun 08 2019 </span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                    </div>   
                  </div>
                </div>
            </div>
            
          </div>
          <div class="item2">
            <div class="subitem">
                <div class="card"><img src="/img/home/relacionados1.svg" alt="">
                  <div class="card-img-overlay">
                    <div class="position_footer">
                        <h2 class="title h6">Niño acaba de ganar 1 millon de dolares mientras dormia</h2>
                        <span class="caracteristica"><span>Jun 08 2019 </span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                    </div>   
                  </div>
                </div>
            </div>
            <div class="subitem">
                <div class="card"><img src="/img/home/carrucel1.svg" alt="">
                  <div class="card-img-overlay">
                    <div class="position_footer">
                        <h2 class="title h6">Niño acaba de ganar 1 millon de dolares mientras dormia</h2>
                        <span class="caracteristica"><span>Jun 08 2019 </span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                    </div>   
                  </div>
                </div>
            </div>
            
          </div>
          
        </div>
    </div>
</section>
<section class="post_recientes container pt-5">
    <div class="row">
        <div class="col-lg-8">
        <h3 class="p-title">POST RECIENTES</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3"><img src="/img/home/bitcoin.jpg" class="img-fluid" alt=""></div>
                <h4>El valor del bitcoin aumenta</h4>
                <span class=""><span>Jun 08 2019 </span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                <p class="pt-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa officiis eius voluptates adipisci facere? Laudantium laborum, odit illo veritatis quaerat expedita, quod eveniet quae facilis id officia unde quidem adipisci?
                </p>
            </div>
            <div class="col-md-6">
                <ul>
                  {{#each data}}
                    <li class="mb-3">
                      <a href="{{url}}" class="link-enlace-post">
                      <div class="elemento_post d-flex flex-row">
                        <div class="imagen_post"><img src="/img/home/bitcoin1.jpg" class="img-fluid" alt=""></div>
                        <div class="contendor_info_post">
                            <h4 class="h5 m-0">{{titulo}}</h4>
                            <p class="m-0">{{articulo}}</p>
                            <span class=""><span>{{fecha}}</span><i class="icon-cont fas fa-eye ml-3"></i> 12<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                        </div>
                        </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
                <h3 class="p-title">POST POPULARES</h3>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container pt-2">
        <h5 class="h2"><span class="stal">Stal</span><span class="ker">ker</span></h5>
        <div class="content-footer  row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</footer>