{{>nav}}
{{>modal}}
<div class="container pt-4">
<div class="row">
    <div class="col-sm-8 pt-2">
        <h2>Ciencia</h2>
        <p><a href="#" id="eliminar" target="black">Ciencia para todos en MuyInteresante.es. Últimas noticias y reportajes de ciencia, 
            fotos, vídeos, curiosidades, preguntas y respuestas. En esta sección ponemos la ciencia al alcance de todos con asuntos curiosos y relevantes.</p>
        </a>
        <div class="row">
            <div class="col-md-12">
                <div class="pt-2">
                    <div><img src="/img/home/mundo-2020.svg" class="img-fluid" alt=""></div>
                <div>
                    <h1 class="h2 text-center pt-2">¿Cómo imaginabas el mundo en 2020?</h1>
                    <p>Crear plasma, medir la velocidad de la luz... Con la sola ayuda de este electrodoméstico y de algunos objetos que enc...</p>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/img/home/idea-2020.svg" class="img-fluid"alt="">
                </div>
                <div class="">
                    <h3 class="text-center"><a href=""> 17 ecuaciones que cambiaron la historia</a></h1>
                    <p class="">Las matemáticas están presentes en nuestro día a día de innumerables formas. El matemático y científico Ian Stewart h...</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center justify-content-center"><img src="/img/home/mejores-noticias.svg" class="img-fluid" alt=""></div>
             <div>
                    <h3 class="text-center">Top noticias cientificas del 2019</h1>
                    <p>Las matemáticas están presentes en nuestro día a día de innumerables formas. El matemático y científico Ian Stewart h...</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-4">
        <div>
            <div class="articulos_relacionados">
                <h6 class="text-center">Articulos Relacionados</h6>
            </div>
            <div class="pt-2">
                <img src="/img/home/relacionados.svg" class="img-fluid" alt="">
                <h5 class="text-center">¿Por que dejar de Fumar?</h5>
                <p>Estudios revelan la alta dosis de arsenico en el cuerpo...</p>
            </div>
            <div class="pt-2">
                <img src="/img/home/relacionados1.svg" class="img-fluid" alt="">
                <h5 class="text-center">¿Cuando hacerce una radiografía?</h5>
                <p>Estudios revelan la alta dosis de arsenico en el cuerpo...</p>
                </div>
        </div>
    </div>
</div>
</div>
<script src="js/general.js"></script>