<section class="contenedor-login"> 
    <div class="formulario">
        <form action="/login" method="POST">
            <input type="text" placeholder="usuario">
        </form>
    </div>
</section>