
<nav id="navbar_contenido" class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><span class="stal">Stal</span><span class="ker">ker</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                </div>
            </div>
</nav>
<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-sm-12 col-md-4 col-lg-3">
            <form class="form-container" id="formulario" method="POST" action="/login">
                <span style="color: white;cursor:pointer;font-family:inherit;font-size: 20px;justify-content: end;" id="cerrar">X</span>
                <h2 style="color: white;text-align: center">Login</h2>
                <div class="form-group">
                    <label for="ExampleInpuEmail" style="color: white;">Correo Electr칩nico</label>
                    <input  required type="email" name="username" class="form-control" id="ExampleInputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
                    <small id="emailHelp" class="form-text" style="color: rgba(212, 212, 212, 0.815)">Nunca compartiremos tu correo electr칩nico</small>
                </div>
                <div class="form-group">
                    <label for="ExampleInputPassword" style="color: white;">Contrase침a</label>
                    <input type="password" name="password" class="form-control" id="ExampleInputPassword" placeholder="ingresa tu contrase침a">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white;">Desea recordar sus datos</label>
                </div>
                    <button type="submit" class="btn btn-success" id="ingresar">Ingresar</button>
            </form>
        </section>
    </section>
    <style>
        html{
}
#background{
    height: 100vh;
    position: fixed;
    z-index: 1;
}

#formulario{
    background-color: rgba(0,0,0,0.90);
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
    top: 70px;
    position: absolute;
    margin: auto;
    left: 0px; right: 0px;
    box-shadow: 15px 15px 10px 0px #000;
    animation: animatezoom 0.6s;
    display:block;

}
.btn{
    width: 100%;
}

{{!-- @keyframes animatezoom {
from {
    transform: scale(0);
    background-color: rgba(0,0,0,0.90);
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
    top: 70px;
    position: absolute;
    margin: auto;
    left: 0px; right: 0px;
    box-shadow: 15px 15px 10px 0px #000;
    animation: animatezoom 0.6s;
} 
to {
        transform: scale(1);
        background-color: rgba(0,0,0,0.90);
        padding: 15px;
        border: 1px solid black;
        border-radius: 7px;
        top: 70px;
        position: absolute;
        margin: auto;
        left: 0px; right: 0px;
        box-shadow: 15px 15px 10px 0px #000;
        animation: animatezoom 0.6s;  
      }
  } --}}
  
    </style>