<div>
    <table border="1">
        <thead><tr><th>url</th></tr></thead>
        <tbody><tr>
            <th><a href="https://mejorsalud.com/">https://mejorconsalud.com/</a></th>
        </tr></tbody>
    </table>
</div>